# ********************************************************************************
# Copyright (c) 2025, Wentao Guo, Mayank Mishra, Xinle Cheng, Ion Stoica, Tri Dao
# ********************************************************************************

torch>=2.7.1,<=2.9.1
nvidia-cutlass-dsl==4.3.5
quack-kernels==0.2.4
pytest
parameterized
ninja
rich
